<launch>

  <arg name="location_map_ns" default="mower" doc="Override the default namespace of all ouster nodes"/>
  <arg name="android_signal_topic" default="/signal" doc="Android signal"/>
  <arg name="vslam_localization_topic" default="/Mower/position" doc="localization from VSLAM"/>
  <arg name="gps_localization_topic" default="/nanobot/gpsposition" doc="localization from GPS"/>
  <arg name="planning_status_topic" default="/planning_status" doc="planning status, complete or not"/>
  <arg name="planning_path_topic" default="/planning_path_info" doc="The path link different polygons"/>
  <arg name="planning_hull_topic" default="/planning_hull_info" doc="polygon of planning"/>
  <arg name="planning_point_topic" default=" /clicked_point" doc="start and end point of planning"/>
  <!-- <arg name="map_info_topic" default="/send_map_info" doc="pub the position in map"/> -->
  <arg name="map_hull_topic" default="/send_hull_info" doc="pub hull to Android"/>
  <arg name="map_hole_topic" default="/send_hole_info" doc="pub hole to Android"/>
  <arg name="map_path_topic" default="/send_path_info" doc="pub path to Android"/>
  <arg name="map_point_topic" default="/send_point_info" doc="pub point to Android"/>
  <arg name="filename" default="/home/nvidia/Mower/src/location_map/map_files/"/>
  <!-- <arg name="filename" default="/home/oem/Mower/src/location_map/map_files/"/> -->
  <arg name="polygon_thr" default="1.0" doc="Distance between the vertices of the polygon"/>
  <arg name="path_thr" default="0.5" doc="Distance between the point of the path"/>
  <arg name="gauss_x_first" default="312519054.15" doc="origin cordinate x, if receive gps"/> 
  <arg name="gauss_y_first" default="-11023939.42" doc="origin cordinate y, if receive gps"/> 
  <arg name="angle_first" default="25217.03" doc="origin cordinate heading angle, if receive gps"/>

  <group ns="$(arg location_map_ns)">
    <node pkg="location_map" type="location_map_node" name="location_map" output="screen" required="true">
      <param name="android_signal_topic" value="$(arg android_signal_topic)"/>
      <param name="vslam_localization_topic" value="$(arg vslam_localization_topic)"/>
      <param name="gps_localization_topic" value="$(arg gps_localization_topic)"/>
      <param name="planning_status_topic" value="$(arg planning_status_topic)"/>
      <param name="planning_path_topic" value="$(arg planning_path_topic)"/>
      <param name="planning_hull_topic" value="$(arg planning_hull_topic)"/>
      <param name="planning_point_topic" value="$(arg planning_point_topic)"/>
      <!-- <param name="map_info_topic" value="$(arg map_info_topic)"/> -->
      <param name="map_hole_topic" value="$(arg map_hole_topic)"/>
      <param name="map_path_topic" value="$(arg map_path_topic)"/>
      <param name="map_point_topic" value="$(arg map_point_topic)"/>
      <param name="filename" value="$(arg filename)"/>
      <param name="polygon_thr" value="$(arg polygon_thr)"/>
      <param name="path_thr" value="$(arg path_thr)"/>
      <param name="gauss_x_first" value="$(arg gauss_x_first)"/>
      <param name="gauss_y_first" value="$(arg gauss_y_first)"/>
      <param name="angle_first" value="$(arg angle_first)"/>

    </node>
  </group>

</launch>