<launch>
    <node pkg="pure_pursuit" type="pure_pursuit" name="pure_pursuit" output="screen">
        <param name="v_min" value="0.08" />
        <param name="w_max" value="0.8" />
        <param name="min_lookahead_distance" value="1.5" />
        <param name="regulated_min_radius" value="1.8" />
        <param name="low_speed" value="0.3" />
    </node>
</launch>